<!DOCTYPE html>
<html lang="en">
<head>
    <title>Client-Side Graphs</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <h1>Графики для {{ client.name }}</h1>
        <div>
            <a href="{{ url_for('serve_admin_dashboard', psycho_id=client.psycho_id) }}" title="Back to Admin Dashboard" class="back-link">
                <i class="fas fa-home"></i> Home
            </a>
        </div>
        <div>
            <h2>История выбора:</h2>
            <div class="logs-container">
                <ul id="choicesList1">
                </ul>
            </div>
        </div>
        <div class="graph-container">
            <canvas id="userGraph1"></canvas>
        </div>

        <div>
            <h2>История выбора:</h2>
            <div class="logs-container">
                <ul id="choicesList2">
                </ul>
            </div>
        </div>
        <div class="graph-container">
            <canvas id="userGraph2"></canvas>
        </div>
    </div>

    <script>
        var client_id = "{{ client.id }}";
        fetch('/api/choices/' + client_id)
            .then(response => response.json())
            .then(data => {
                let [choices1, choices2] = data;
                
                choices1.sort((a, b) => new Date(a.timestamp) - new Date(b.timestamp));
                processData(choices1, 'userGraph1', 'choicesList1');

                choices2.sort((a, b) => new Date(a.timestamp) - new Date(b.timestamp));
                processData(choices2, 'userGraph2', 'choicesList2');
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });

        function processData(data, graphId, listId) {
            var datasets = {};
            var colors = ['rgba(255, 0, 0, 0.2)', 'rgba(0, 255, 0, 0.2)', 'rgba(0, 0, 255, 0.2)', 'rgba(255, 128, 0, 0.2)', 'rgba(128, 0, 255, 0.2)', 'rgba(0, 255, 255, 0.2)'];

            data.forEach((choice, index) => {
                if (!datasets[choice.question]) {
                    datasets[choice.question] = {
                        label: choice.question,
                        data: [],
                        backgroundColor: colors[index % colors.length],
                        borderColor: colors[index % colors.length],
                        borderWidth: 1
                    };
                }

                datasets[choice.question].data.push({ x: choice.timestamp, y: choice.choice });
            });

            var chartData = {
                datasets: Object.values(datasets)
            };

            var ctx = document.getElementById(graphId).getContext('2d');

            var myChart = new Chart(ctx, {
                type: 'line',
                data: chartData,
                options: {
                    maintainAspectRatio: false,
                    responsive: true,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'day'
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 100,
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            var choicesList = document.getElementById(listId);
            data.forEach(choice => {
                var listItem = document.createElement('li');
                listItem.textContent = choice.question + ': ' + choice.timestamp + ' - ' + choice.choice;
                choicesList.appendChild(listItem);
            });
        }
    </script>
</body>
</html>
