<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <style>
        /* Add some styling to make sure the input is centered within the form */
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>Welcome, User {{ client.name }}</h1>

    <form action="{{ url_for('serve_client_page', client_id=client.id, psycho_id=psycho_id) }}" method="post">
        <label for="choice">Выберите доволность сессией:</label>
        <input type="range" name="choice" min="0" max="100" value="50" step="1" style="width: 100%;">

        <button type="submit">Отправить</button>
    </form>
</body>
</html>
