<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПсихоКлиентоАналитика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <form action="/login" method="get">
            <input type="submit" value="Войти" class="fancy-button">
        </form>

        <form action="/register" method="get">
            <input type="submit" value="Зарегистрироваться" class="fancy-button">
        </form>
    </div>
</body>
</html>
